In [1]:
import pandas as pd
import numpy as np

import chardet

In [2]:
sample_entry = b'\xa7A\xa6n'
print(sample_entry)
print('data type:', type(sample_entry))

b'\xa7A\xa6n'
data type: <class 'bytes'>

In [3]:
previous_entry = sample_entry.decode("big5-tw")
new_entry = previous_entry.encode("utf-8")

In [4]:
import pandas as pd
import chardet
with open("C:/Users/Yqssine/Documents/Technocholabes_Internship/Dataset/PoliceKillingsUS.csv",'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
print(result)

police_killings= pd.read_csv("C:/Users/Yqssine/Documents/Technocholabes_Internship/Dataset/PoliceKillingsUS.csv", encoding='windows-1252')
police_killings.head()

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [7]:
police_killings.to_csv("C:/Users/Yqssine/Documents/Technocholabes_Internship/Data_Cleaning/Character encodings/Kaggle/working/my_file.csv")